* {
    outline: 0 none
}

.slick-next, .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    border: medium none
}

.slick-next, .slick-next:focus, .slick-next:hover, .slick-prev, .slick-prev:focus, .slick-prev:hover {
    color: transparent;
    outline: medium none;
    background: transparent none repeat scroll 0 0
}

.slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before {
    opacity: 1
}

.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff
}

.slick-prev {
    left: -25px
}

.slick-prev:before {
    content: "←"
}

.slick-next {
    right: -25px
}

.slick-next:before {
    content: "→"
}

.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: outside none none;
    text-align: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0
}

.slick-dots li, .slick-dots li button {
    width: 20px;
    height: 20px;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    color: transparent;
    border: 0 none;
    outline: medium none;
    background: transparent none repeat scroll 0 0
}

.slick-dots li button:focus, .slick-dots li button:hover {
    outline: medium none
}

.slick-dots li button:focus:before, .slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: .25;
    color: #000
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000
}

.slick-slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none
}

.slick-list, .slick-slider {
    position: relative;
    display: block
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: medium none
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-track:after, .slick-track:before {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.slick-slide {
    display: none;
    float: left;
    min-height: 1px
}

.slick-initialized .slick-slide, .slick-slide img {
    display: block
}

a, body, div, html, img, input, li, p, span, ul {
    margin: 0;
    padding: 0;
    outline: 0 none;
    font-size: 100%;
    font-weight: 400;
    background: transparent none repeat scroll 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

ul {
    list-style: outside none none
}

body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 980px
}

.wrapper:after {
    display: block;
    clear: both;
    content: " "
}

.clear {
    clear: both
}

header {
    background: #323437 none repeat scroll 0 0;
    position: relative
}

.header-logo {
    float: left;
    padding-top: 6px
}

.blocks-header {
    text-align: center;
    padding-top: 40px
}

.block-header {
    color: #aed304;
    font-size: 16px;
    display: inline-block;
    line-height: 18px;
    margin-left: 30px;
    min-height: 38px;
    padding-left: 50px;
    text-align: left;
    vertical-align: top
}

.block-header--1 {
    background: transparent url(../img/block1-header.png) no-repeat scroll 0
}

.block-header--2 {
    background: transparent url(../img/block2-header.png) no-repeat scroll 0
}

.section1 {
    background: transparent url(../img/bg-content-1.jpg) no-repeat scroll top;
    padding-bottom: 18px;
    padding-top: 15px
}

.main-title {
    color: #fff;
    font-size: 60px;
    line-height: 61px;
    padding: 0 80px 12px;
    text-align: center
}

.main-title, .main-title span {
    font-family: Arial, Helvetica, sans-serif
}

.main-title span {
    font-size: 28px
}

.title-small {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 18px;
    text-align: center
}

.section1-left {
    width: 402px;
    display: inline-block;
    vertical-align: top;
    padding-top: 96px;
    margin-left: 15px;
    float: left;
    margin-right: 10px
}

.do {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 15px;
    padding-left: 105px;
    height: 91px;
    display: table
}

.do > p {
    display: table-cell;
    vertical-align: middle
}

.do--small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 26px;
    display: block
}

.do--1 {
    background: transparent url(../img/do--1.png) no-repeat scroll 0
}

.do--2 {
    background: transparent url(../img/do--2.png) no-repeat scroll 0
}

.do--3 {
    background: transparent url(../img/do--3.png) no-repeat scroll 0
}

.section1-center {
    width: 260px;
    display: inline-block;
    vertical-align: top;
    background: transparent url(../img/product-big.png) no-repeat scroll 0 55px;
    background-size: contain;
    min-height: 457px;
    position: relative;
    float: left
}

.product-big_title {
    color: #ffd303;
    font-size: 22px;
    line-height: 28px;
    margin-left: -172px;
    padding-top: 20px
}

.product-big_sale, .product-big_title {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase
}

.product-big_sale {
    background: transparent url(../img/bg-sale.png) no-repeat scroll 0 0;
    width: 111px;
    height: 111px;
    font-size: 14px;
    line-height: 22px;
    color: #323437;
    text-align: center;
    padding-top: 26px;
    position: absolute;
    left: 130px;
    top: 0;
    z-index: 3
}

.product-big_sale > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: block;
    font-style: italic
}

.product-big_sale span > span {
    font-size: 25px
}

.product-big_sh {
    position: absolute;
    bottom: 0;
    left: -16px
}

.product-big_sh--top {
    background: transparent url(../img/bg-sh.png) no-repeat scroll 0 0;
    width: 77px;
    height: 77px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24px;
    color: #323437;
    text-align: center;
    padding-top: 26px;
    font-style: italic
}

.product-big_sh--top > span {
    font-size: 14px
}

.product-big_sh--bottom {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 14px;
    padding-left: 10px
}

.section1-right {
    width: 280px;
    float: right
}

.section1-right-wrap {
    border: 2px solid #fed203;
    border-radius: 5px;
    background: #323437 none repeat scroll 0 0;
    padding-top: 25px;
    margin-bottom: 30px
}

.price-new--top, .price-old--top {
    display: inline-block;
    vertical-align: top;
    width: 47%
}

.price-old--top {
    color: #8b8b8b;
    margin-left: 4%;
    position: relative
}

.price-old--top:after {
    background: transparent url(../img/price-old.png) no-repeat scroll 0 0/90px auto;
    width: 90px;
    height: 46px;
    position: absolute;
    bottom: 5px;
    left: 0;
    content: " "
}

.price-new--top {
    color: #aed304
}

.price-text--top {
    font-size: 16px;
    line-height: 18px
}

.price-text--top, .price-x--top {
    font-family: Arial, Helvetica, sans-serif
}

.price-x--top {
    letter-spacing: -1px;
    font-size: 36px;
    line-height: 38px
}

.form-top {
    padding: 10px
}

.form-main {
    position: relative
}

.form-main:before {
    position: absolute;
    bottom: 50px;
    left: -50px;
    background: transparent url(../img/arrow.png) no-repeat scroll 0 0;
    width: 28px;
    height: 58px;
    content: " "
}

.label-form, label {
    color: #fff;
    padding-left: 10px
}

#form input, .input-form, .label-form, label {
    font-size: 15px;
    line-height: 16px
}

#form input, .input-form {
    border: medium none;
    border-radius: 3px;
    background-color: #fff;
    height: 38px;
    width: 100%;
    padding: 0 10px 0 48px;
    color: #8b8b8b;
    font-family: Arial, Helvetica, sans-serif;
    margin: 7px 0
}

#form input:first-of-type, #form input:nth-of-type(2) {
    background: #fff url(../img/name-form-bg.png) no-repeat scroll 6px
}

#form input:nth-of-type(3) {
    background: #fff url(../img/phone-form-bg.png) no-repeat scroll 8px
}

.submit-form {
    white-space: normal;
    border: medium none;
    border-radius: 3px;
    background: transparent -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffd203), to(#f5ae00)) repeat scroll 0 0;
    background: transparent linear-gradient(180deg, #ffd203, #f5ae00) repeat scroll 0 0;
    color: #343639;
    text-transform: uppercase;
    padding: 18px 0;
    width: 100%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 27px;
    margin-top: 5px
}

.submit-form:hover {
    background: transparent -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5ae00), to(#ffd203)) repeat scroll 0 0;
    background: transparent linear-gradient(180deg, #f5ae00, #ffd203) repeat scroll 0 0
}

.protection {
    width: 255px;
    background: transparent url(../img/protect-bg.png) no-repeat scroll 100% 0;
    min-height: 35px;
    color: #ffd303;
    font-size: 16px;
    line-height: 18px;
    padding-right: 30px
}

.section1 .protection {
    padding-left: 14px
}

.section2 {
    padding-top: 30px;
    background: transparent url(../img/bg-section2-top.png) repeat-x scroll 0 0
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    line-height: 47px;
    color: #000;
    text-align: center;
    letter-spacing: -1px
}

.title span {
    font-size: 25px
}

.danger-wrap {
    margin-top: 30px;
    min-height: 842px;
    background: transparent url(../img/bg-section2.png) no-repeat scroll top
}

.danger_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 38px;
    color: #ea0000;
    padding-top: 30px;
    padding-left: 40px
}

.danger_text {
    font-size: 24px;
    line-height: 36px;
    color: #323437;
    padding-left: 75px;
    background: transparent url(../img/danger.png) no-repeat scroll 0 5px;
    min-height: 66px
}

.danger_text > span {
    display: block
}

.danger_text--1 {
    margin-top: 85px
}

.danger_text--2 {
    margin-top: 465px;
    float: left
}

.danger_text--3 {
    margin-top: 86px;
    float: right
}

.section3 {
    background: transparent url(../img/bg-section3.jpg) no-repeat scroll top;
    padding-top: 40px
}

.section3 .title {
    color: #fff
}

.symptoms {
    padding: 45px 60px 45px 200px
}

.symptoms_text {
    background: transparent url(../img/smile-img.png) no-repeat scroll 0;
    min-height: 43px;
    padding-top: 3px;
    padding-left: 60px;
    margin-bottom: 12px;
    color: #fff;
    font-size: 23px;
    line-height: 35px
}

.section4 {
    padding-top: 40px;
    padding-bottom: 30px;
    background: transparent url(../img/bg-section4.jpg) no-repeat scroll center 270px
}

.enter {
    padding: 25px 0 26px 20px
}

.block_enter {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    margin-left: -1%;
    font-size: 24px;
    line-height: 30px;
    text-align: center
}

.block_enter, .block_enter p {
    padding-bottom: 20px
}

.action {
    margin-top: 25px;
    background: transparent url(../img/action-big.png) no-repeat scroll top;
    min-height: 650px
}

.block_action {
    font-size: 17px;
    line-height: 27px
}

.block_action p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 27px;
    padding-bottom: 5px
}

.block_action span {
    display: block
}

.block_action--1, .block_action--3 {
    float: left
}

.block_action--2, .block_action--4 {
    float: right
}

.block_action--1, .block_action--2 {
    padding-top: 10px
}

.block_action--3, .block_action--4 {
    padding-top: 455px
}

.block_action--4 {
    padding-right: 20px
}

.section5 {
    background: transparent url(../img/bg-section5.jpg) no-repeat scroll top;
    padding: 50px 0
}

.form-wrap {
    background: #323437 none repeat scroll 0 0;
    border: 2px solid #ffd200;
    border-radius: 5px;
    position: relative;
    padding: 18px 0 18px 25px
}

.form-wrap:before {
    content: " ";
    background: transparent url(../img/product-big.png) no-repeat scroll 0 0;
    background-size: contain;
    width: 240px;
    height: 368px;
    top: 18px;
    left: 410px;
    position: absolute;
    z-index: 1
}

.form_left, .form_right {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    position: relative;
    z-index: 2
}

.form_right {
    padding-left: 19%
}

.form_left--title {
    color: #ffd303;
    font-size: 21px;
    line-height: 28px
}

.form_left--sale, .form_left--title {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase
}

.form_left--sale {
    background: transparent url(../img/bg-sale.png) no-repeat scroll 0 0/134px auto;
    width: 134px;
    height: 134px;
    font-size: 17px;
    line-height: 27px;
    color: #323437;
    text-align: center;
    padding-top: 32px;
    position: absolute;
    left: 285px;
    top: -48px
}

.form_left--sale > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    display: block;
    font-style: italic
}

.form_left--sale span > span {
    font-size: 30px
}

.price {
    padding-top: 70px
}

.price-new, .price-old {
    display: inline-block;
    vertical-align: top
}

.price-old {
    color: #8b8b8b;
    position: relative;
    margin-right: 1%
}

.price-old:after {
    background: transparent url(../img/price-old.png) no-repeat scroll 0 0/115px auto;
    width: 115px;
    height: 60px;
    position: absolute;
    bottom: 5px;
    left: 0;
    content: " "
}

.price-new {
    color: #aed304
}

.price-text {
    font-size: 21px;
    line-height: 21px
}

.price-text, .price-x {
    font-family: Arial, Helvetica, sans-serif
}

.price-x {
    letter-spacing: -1px;
    font-size: 43px;
    line-height: 48px
}

.currency-small {
    font-size: 25px
}

.form_left--sh {
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative
}

.form_left--sh-bottom {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif
}

.form_left--sh-top {
    background: transparent url(../img/bg-sh.png) no-repeat scroll 0 0;
    width: 77px;
    height: 77px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24px;
    color: #323437;
    text-align: center;
    padding-top: 26px;
    font-style: italic;
    position: absolute;
    left: 350px;
    top: 16px
}

.form_left--sh-top > span {
    font-size: 14px
}

.section6 {
    background: transparent url(../img/bg-section4.jpg) no-repeat scroll center -1540px;
    padding-top: 40px
}

.research_item {
    border: 2px solid #fa6767;
    border-radius: 5px;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin: 30px 0
}

.research_item span {
    display: block
}

.research {
    background: transparent url(../img/research.png) no-repeat scroll top;
    height: 614px;
    position: relative;
    z-index: 2
}

.research_block {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    padding-top: 225px
}

.research_block--1 {
    padding-left: 170px
}

.research_block--2 {
    padding-left: 184px
}

.research_procent {
    color: #323437;
    font-size: 36px;
    line-height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 120px
}

.research_block--1 .research_procent {
    color: #92ac1c;
    padding-left: 20px
}

.research_title {
    color: #323437;
    font-size: 26px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif
}

.research_text {
    color: #323437;
    font-size: 21px;
    line-height: 32px
}

.rezult {
    margin-top: -80px;
    padding-left: 12px
}

.rezult:after {
    content: " ";
    clear: both;
    display: block
}

.rezult_left {
    background: transparent url(../img/rezult_left.png) repeat-x scroll 0 0;
    width: 49%;
    margin-left: 4px
}

.rezult_left, .rezult_right {
    height: 609px;
    display: inline-block;
    vertical-align: top;
    padding-top: 40px
}

.rezult_right {
    background: transparent url(../img/rezult_right.png) repeat-x scroll 0 0;
    width: 48.5%;
    margin-left: -4px
}

.rezult_text {
    min-height: 280px;
    width: 360px;
    margin-left: 20px;
    border-right: 3px dotted #fff
}

.rezult_procent, .rezult_text {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 18px;
    line-height: 26px
}

.rezult_procent {
    margin-left: 24px
}

.rezult_procent p, .rezult_text p {
    padding-bottom: 25px
}

.section7 {
    margin-top: -200px
}

.section7 .title {
    padding: 0 100px
}

.best-wrap {
    margin-top: 25px;
    background: transparent url(../img/product-big.png) no-repeat scroll right 45px;
    background-size: 35%
}

.best {
    background: transparent url(../img/bg-section-7.png) no-repeat scroll 234px 20px
}

.best:after {
    clear: both;
    content: " ";
    display: block
}

.best_text {
    background: transparent url(../img/for-best.png) no-repeat scroll 0 0;
    padding-left: 50px;
    font-size: 20px;
    line-height: 24px
}

.best_text span {
    display: block
}

.best_text--1 {
    padding-bottom: 100px;
    margin-left: 66px
}

.best_text--2 {
    padding-bottom: 200px
}

.best_text--3 {
    padding-bottom: 110px
}

.best_text--4 {
    padding-bottom: 30px;
    margin-left: 20px;
    float: left
}

.best_text--5 {
    margin-top: 75px;
    padding-bottom: 30px;
    float: right
}

.section8 {
    background: transparent url(../img/bg-section8.jpg) no-repeat scroll top;
    padding: 50px 0
}

.section9 {
    padding: 35px 0 20px
}

.expert {
    -webkit-box-shadow: 0 9px 30px 9px rgba(66, 41, 25, .1);
    box-shadow: 0 9px 30px 9px rgba(66, 41, 25, .1);
    padding-top: 35px;
    background: transparent url(../img/expert.jpg) no-repeat scroll 10px bottom;
    min-height: 528px
}

.expert_text {
    letter-spacing: -1px;
    padding: 50px 50px 50px 420px;
    font-size: 20px;
    line-height: 28px
}

.expert_name {
    font-size: 22px
}

.expert_about, .expert_name {
    line-height: 24px;
    color: #8a9f1c;
    padding-left: 420px
}

.expert_about {
    font-size: 17px
}

.section10 .title {
    padding: 0 100px
}

.health {
    padding: 30px 0
}

.health_block {
    letter-spacing: -1px;
    display: inline-block;
    vertical-align: top;
    width: 29%;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    padding-bottom: 20px
}

.health_block--2 {
    margin-left: 5%;
    margin-right: 5%
}

.health_block p {
    padding-bottom: 20px
}

.section11 {
    padding-bottom: 86px
}

.slick-slider {
    margin-bottom: 1px
}

.slider {
    -webkit-box-shadow: 0 9px 30px 9px rgba(66, 41, 25, .1);
    box-shadow: 0 9px 30px 9px rgba(66, 41, 25, .1);
    padding: 35px 50px 20px;
    margin-top: 15px
}

.slide_img {
    float: left;
    padding-top: 25px;
    padding-left: 12px
}

.slide_text {
    font-size: 17px;
    line-height: 21px;
    padding-left: 10px
}

.slide_name {
    font-size: 22px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px
}

.slick-next, .slick-prev {
    top: 50%;
    width: 28px;
    height: 45px;
    margin-top: -22px
}

.slick-next:before, .slick-prev:before {
    display: none
}

.slick-prev {
    background: transparent url(../img/prev.png) no-repeat scroll 0 0;
    left: -38px
}

.slick-next {
    background: transparent url(../img/next.png) no-repeat scroll 0 0;
    right: -38px
}

.slick-prev:focus, .slick-prev:hover {
    background: transparent url(../img/prev.png) no-repeat scroll 0 0;
    opacity: .8
}

.slick-next:focus, .slick-next:hover {
    background: transparent url(../img/next.png) no-repeat scroll 0 0;
    opacity: .8
}

.slick-dots li, .slick-dots li button {
    width: 12px;
    height: 12px
}

.slick-dots li button {
    padding: 1px;
    background: #323437 none repeat scroll 0 0;
    border-radius: 50%
}

.slick-dots li.slick-active button, .slick-dots li:hover button {
    background: #8a9f1c none repeat scroll 0 0
}

.slick-dots li button:before {
    display: none
}

.section12 {
    background: transparent url(../img/bg-section12.jpg) no-repeat scroll top;
    padding: 50px 0
}

.section13 {
    padding: 40px 0
}

.use {
    padding-top: 45px
}

.use-block {
    padding-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin-left: 1%;
    text-align: center
}

.use_title {
    color: #93ad1f;
    font-size: 23px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 45px 0 20px
}

.use_text {
    font-size: 19px;
    line-height: 23px
}

.section14 {
    padding-bottom: 70px
}

.get {
    padding: 35px 0
}

.get, .get-block {
    text-align: center
}

.get-block {
    padding-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    width: 21%;
    margin-left: 1%;
    font-size: 23px;
    line-height: 29px;
    font-family: Arial, Helvetica, sans-serif
}

.get-block p {
    padding-bottom: 30px
}

.section16 {
    padding-bottom: 60px
}

.work {
    padding-top: 40px;
    padding-left: 60px
}

.block_work {
    display: inline-block;
    vertical-align: top;
    width: 21%;
    margin-left: 2%;
    position: relative
}

.work_img {
    text-align: center;
    padding-bottom: 20px
}

.work_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 26px;
    padding-left: 26px;
    position: relative;
    letter-spacing: -1px
}

.work_text span {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffd200
}

.block_work--1.block_work:after, .block_work--2.block_work:after, .block_work--3.block_work:after {
    background: transparent url(../img/arrow-work.png) no-repeat scroll 0 0;
    content: " ";
    width: 77px;
    height: 29px;
    position: absolute;
    top: 27px;
    right: -48px
}

.section17 {
    background: #1d0f0e url(../img/bg-section17.jpg) no-repeat scroll top;
    background-size: cover;
    padding-top: 23px;
    padding-bottom: 10px
}

.section17 .title {
    color: #fff
}

.section17-left {
    width: 402px;
    padding-top: 65px;
    margin-left: 35px
}

.section17-left, .section17-right {
    display: inline-block;
    vertical-align: top
}

.section17-right {
    width: 360px;
    margin-top: 50px;
    margin-left: 125px
}

.section17-right-wrap {
    border: 2px solid #fed203;
    border-radius: 5px;
    background: #323437 none repeat scroll 0 0;
    padding-top: 25px;
    margin-bottom: 20px
}

.footer {
    color: #8b8b8b;
    font-size: 16px;
    line-height: 20px
}

.footer:after {
    display: block;
    clear: both;
    content: " "
}

.footer .wrapper {
    padding-left: 30px;
    padding-right: 50px
}

.form-mob {
    display: none
}

@media screen and (max-width: 999px) {
    .wrapper {
        width: 750px
    }

    .blocks-header {
        display: none
    }

    .section1 {
        background-size: cover;
        padding-bottom: 35px
    }

    .section1-left {
        padding-top: 20px
    }

    .section1-center, .section1-left {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none
    }

    .section1-center {
        width: 390px;
        background: transparent none repeat scroll 0 0;
        min-height: 10px;
        margin-top: 100px;
        padding-bottom: 10px
    }

    .product-big_sh {
        display: none
    }

    .product-big_title {
        margin-left: 7px;
        padding-top: 1px;
        width: 200px
    }

    .product-big_sale {
        left: 194px;
        top: -60px
    }

    .section1-center:after {
        content: " ";
        background: transparent url(../img/product-big.png) no-repeat scroll 0 0;
        width: 212px;
        height: 255px;
        position: absolute;
        top: -86px;
        right: -100px;
        z-index: 2;
        background-size: contain
    }

    .section1-right {
        width: 390px;
        float: none;
        margin-right: auto;
        margin-left: auto
    }

    .section1-right-wrap {
        margin-bottom: 12px
    }

    .price-new--top, .price-old--top {
        width: 33%
    }

    .price-text--top {
        letter-spacing: -1px
    }

    .price-old--top {
        margin-left: 3%
    }

    .protection {
        width: 390px;
        background-position: 20px top;
        padding-left: 63px !important;
        padding-right: 1px;
        padding-top: 12px;
        margin-left: auto;
        margin-right: auto
    }

    .section2 {
        padding-bottom: 20px
    }

    .danger-wrap {
        margin-top: 30px;
        min-height: 10px;
        background-size: 460px auto;
        background-position: center 150px
    }

    .danger_title {
        padding-top: 1px;
        padding-left: 1px;
        text-align: center
    }

    .danger_text--1 {
        margin-top: 25px;
        margin-left: 20px
    }

    .danger_text--2 {
        margin-top: 420px;
        float: none
    }

    .danger_text--3 {
        margin-top: 20px;
        margin-left: 310px;
        float: none
    }

    .section3 {
        background-size: cover
    }

    .symptoms {
        padding: 45px 1px 10px
    }

    .symptoms_text {
        margin-bottom: 22px
    }

    .section4 {
        background-position: center 810px;
        background-size: 540px auto;
        padding-bottom: 40px
    }

    .enter {
        padding: 25px 0 26px 140px
    }

    .block_enter {
        width: 230px;
        margin-left: -1%;
        padding-bottom: 28px
    }

    .block_enter p {
        padding-bottom: 1px
    }

    .action {
        margin-top: 15px;
        background-size: 460px auto;
        min-height: 10px;
        background-position: center 70px
    }

    .section5 {
        padding-top: 1px;
        padding-bottom: 20px;
        background-size: cover
    }

    .form-wrap {
        display: none
    }

    .form-mob {
        display: block
    }

    .section5 .form-mob {
        margin-top: -18px
    }

    .section6 {
        background: transparent none repeat scroll 0 0
    }

    .research {
        background-size: 740px auto;
        height: auto
    }

    .research_item {
        padding: 20px 10px
    }

    .research_block {
        padding-top: 1px
    }

    .research_block--1 {
        padding-left: 110px
    }

    .research_procent {
        padding-bottom: 395px
    }

    .rezult {
        display: none
    }

    .section7 {
        margin-top: 30px;
        background: transparent url(../img/product-big.png) no-repeat scroll right 150px;
        background-size: 50%
    }

    .section7 .title {
        padding: 0 10px
    }

    .best, .best-wrap {
        background: transparent none repeat scroll 0 0
    }

    .best {
        padding-bottom: 150px
    }

    .best_text--1, .best_text--2, .best_text--3, .best_text--4 {
        padding-bottom: 26px;
        margin-left: 1px
    }

    .best_text--4 {
        float: none
    }

    .best_text--5 {
        margin-top: 1px;
        padding-bottom: 1px;
        float: none
    }

    .section8 {
        padding-top: 1px;
        padding-bottom: 20px;
        background-size: cover
    }

    .section8 .form-mob {
        margin-top: -18px
    }

    .section9 {
        padding-bottom: 45px
    }

    .expert_about--2 {
        padding-bottom: 30px
    }

    .health_block {
        display: block;
        width: 340px;
        margin-left: auto;
        margin-right: auto
    }

    .section12 {
        padding-top: 1px;
        padding-bottom: 20px;
        background-size: cover
    }

    .section12 .form-mob {
        margin-top: -18px
    }

    .use-block {
        padding-bottom: 45px;
        display: block;
        width: 450px;
        margin-left: auto;
        margin-right: auto
    }

    .use_title {
        padding: 20px 0
    }

    .section14 {
        padding-bottom: 35px
    }

    .get-block {
        padding-bottom: 20px;
        width: 47%
    }

    .get-block--3 {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .get-block p {
        padding-bottom: 15px
    }

    .work {
        padding-left: 1px
    }

    .block_work {
        width: 22%
    }

    .section17 {
        background-size: cover;
        padding-bottom: 1px
    }

    .section17-left, .section17-right {
        display: none
    }

    .footer {
        margin-top: 20px;
        background: #fff none repeat scroll 0 0;
        padding: 25px 0
    }

    .footer .wrapper {
        padding-left: 2px;
        padding-right: 2px
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        width: 470px
    }

    .main-title {
        padding-left: 1px;
        padding-right: 1px;
        font-size: 51px;
        line-height: 52px
    }

    .title-small {
        font-size: 28px;
        line-height: 35px;
        padding-bottom: 8px
    }

    .danger_text--3 {
        margin-left: 150px
    }

    .section4 {
        background-position: center 844px
    }

    .enter {
        padding: 25px 0 26px 30px
    }

    .block_enter img {
        width: 230px
    }

    .block_enter {
        margin-left: -4%
    }

    .action {
        background-position: center 115px
    }

    .block_action {
        width: 48%
    }

    .block_action span {
        display: inline
    }

    .block_action p {
        font-size: 21px
    }

    .block_action--3, .block_action--4 {
        padding-top: 460px
    }

    .research {
        background-size: 470px auto;
        background-position: center 20px
    }

    .research_item {
        letter-spacing: -1px
    }

    .research_item span {
        display: inline
    }

    .research_block--1 {
        padding-left: 5px
    }

    .research_block--2 {
        padding-left: 83px
    }

    .research_procent {
        padding-bottom: 265px
    }

    .research_block--2 .research_procent {
        padding-left: 8px
    }

    .title {
        font-size: 42px;
        line-height: 45px
    }

    .section7 {
        background-size: 40%;
        background-position: right 295px
    }

    .best-wrap {
        margin-top: 50px
    }

    .expert {
        background-size: 290px auto;
        background-position: bottom
    }

    .expert_text {
        padding: 30px 25px 55px
    }

    .expert_about, .expert_name {
        padding-left: 200px;
        padding-right: 20px;
        text-align: right
    }

    .expert_about span {
        display: block
    }

    .expert_about--2 {
        padding-bottom: 400px
    }

    .section10 .title {
        padding: 0 5px
    }

    .section11 {
        padding-bottom: 40px
    }

    .slider {
        padding: 35px 15px 85px
    }

    .slide_img {
        float: none;
        padding-top: 1px;
        padding-left: 1px;
        padding-bottom: 15px;
        width: 150px;
        margin-left: auto;
        margin-right: auto
    }

    .slide_text {
        padding-left: 1px;
        text-align: center
    }

    .slick-next, .slick-prev {
        top: auto;
        bottom: -77px;
        margin-top: 1px;
        z-index: 4
    }

    .slick-prev {
        left: 1px
    }

    .slick-next {
        right: 1px
    }

    .section16 {
        padding-bottom: 20px
    }

    .block_work {
        width: 46%;
        padding-bottom: 30px
    }

    .block_work--3 {
        float: right
    }

    .block_work--4 {
        float: left
    }

    .block_work--2.block_work:after {
        background: transparent url(../img/arrow-work-2.png) no-repeat scroll 0 0;
        width: 29px;
        height: 77px;
        top: 150px;
        right: 23px
    }

    .block_work--3.block_work:after {
        display: none
    }

    .block_work--4.block_work:after {
        background: transparent url(../img/arrow-work-3.png) no-repeat scroll 0 0;
        content: " ";
        width: 77px;
        height: 29px;
        position: absolute;
        top: 27px;
        right: -48px
    }
}

@media screen and (max-width: 479px) {
    .wrapper {
        width: 310px
    }

    .header-logo {
        float: none;
        text-align: center
    }

    .main-title {
        font-size: 44px;
        line-height: 40px
    }

    .title-small {
        font-size: 20px;
        line-height: 26px
    }

    .section1-left {
        width: auto
    }

    .do {
        padding-left: 1px;
        min-height: 10px;
        display: block;
        padding-top: 110px;
        text-align: center;
        height: auto
    }

    .do--1, .do--2, .do--3 {
        background-position: top
    }

    .section1-center {
        width: auto;
        margin-top: 15px
    }

    .section1-center:after {
        display: none
    }

    .product-big_sale {
        background-size: 90px auto;
        width: 90px;
        height: 90px;
        font-size: 12px;
        line-height: 18px;
        padding-top: 23px;
        left: auto;
        top: -26px;
        right: -30px
    }

    .product-big_sale > span {
        font-size: 23px
    }

    .product-big_sale span > span {
        font-size: 20px
    }

    .section1-right {
        width: auto
    }

    .price-new--top, .price-old--top {
        width: 45%
    }

    .price-old--top {
        margin-left: 6%
    }

    .protection {
        display: none
    }

    .title {
        font-size: 28px;
        line-height: 36px
    }

    .danger-wrap {
        margin-top: 30px;
        background-size: 300px auto;
        background-position: bottom;
        padding-bottom: 290px
    }

    .danger_title {
        font-size: 30px;
        line-height: 36px
    }

    .danger_text {
        font-size: 20px;
        line-height: 24px
    }

    .danger_text--1, .danger_text--2, .danger_text--3 {
        margin-left: 1px;
        margin-bottom: 1px;
        margin-top: 20px
    }

    .danger_text > span {
        display: inline
    }

    .symptoms_text {
        font-size: 20px;
        line-height: 30px
    }

    .symptoms {
        padding: 20px 1px 10px
    }

    .section4 {
        background: transparent none repeat scroll 0 0;
        padding-bottom: 1px
    }

    .enter {
        padding: 25px 0
    }

    .block_enter {
        width: 230px;
        padding-bottom: 28px;
        display: block;
        margin-right: auto;
        margin-left: auto
    }

    .action {
        background: transparent url(../img/bg-section4.jpg) no-repeat scroll center 90px/300px auto
    }

    .block_action--1, .block_action--2, .block_action--3, .block_action--4 {
        float: none;
        width: auto;
        padding: 10px 1px;
        text-align: center
    }

    .block_action--2 {
        background: transparent url(../img/action-small.png) no-repeat scroll bottom;
        padding-bottom: 230px;
        margin-bottom: 20px
    }

    .section5 {
        padding-top: 20px
    }

    .section8 {
        display: none
    }

    .health {
        padding: 30px 0 5px
    }

    .section11 {
        padding-top: 20px
    }

    .research {
        background-size: 310px auto;
        background-position: center 20px;
        padding-bottom: 20px
    }

    .research_block--2 {
        padding-left: 58px
    }

    .research_procent {
        font-size: 26px;
        line-height: 30px;
        padding-bottom: 178px
    }

    .research_title {
        font-size: 18px;
        line-height: 22px
    }

    .research_text {
        font-size: 15px;
        line-height: 18px
    }

    .section7 {
        display: none
    }

    .expert {
        padding-bottom: 400px
    }

    .expert_text {
        font-size: 19px;
        line-height: 24px;
        padding: 30px 25px 20px
    }

    .expert_about, .expert_name {
        padding-left: 2px
    }

    .expert_about--2 {
        padding-bottom: 2px
    }

    .health_block {
        width: auto
    }

    .slick-dots {
        bottom: -50px
    }

    .slick-next, .slick-prev {
        bottom: -88px
    }

    .section12, .section13 {
        display: none
    }

    .get-block {
        font-size: 21px;
        line-height: 26px
    }

    .block_work, .get-block {
        width: auto;
        display: block
    }

    .work_img {
        display: none
    }

    .block_work {
        padding-bottom: 65px;
        min-height: 92px
    }

    .block_work--1 {
        background: transparent url(../img/work-1.png) no-repeat scroll 100% 0/77px auto;
        padding-right: 77px
    }

    .block_work--2 {
        background: transparent url(../img/work-2.png) no-repeat scroll 0 0/77px auto;
        padding-left: 77px
    }

    .block_work--3 {
        float: none;
        background: transparent url(../img/work-3.png) no-repeat scroll 100% 0/77px auto;
        padding-right: 77px
    }

    .block_work--4 {
        float: none;
        background: transparent url(../img/work-4.png) no-repeat scroll 0 0/77px auto;
        padding-left: 77px
    }

    .block_work--1.block_work:after, .block_work--2.block_work:after, .block_work--3.block_work:before {
        background: transparent url(../img/arrow-small.png) no-repeat scroll 0 0;
        content: " ";
        width: 29px;
        height: 45px;
        position: absolute;
        top: auto;
        bottom: 10px;
        right: auto;
        left: 40%
    }

    .block_work--4.block_work:after {
        display: none
    }

    .work_text {
        font-size: 21px;
        line-height: 23px
    }

    .form-main:before {
        display: none
    }
}

@media (max-width: 374px) {
    .product-big_sale {
        right: -5px
    }
}

@media screen and (max-width: 319px) {
    .wrapper {
        width: 230px
    }

    .product-big_sale {
        right: 1px
    }

    .product-big_title {
        font-size: 20px;
        line-height: 26px;
        margin-left: 1px
    }

    .price-new--top, .price-old--top {
        width: auto;
        display: block;
        margin-left: 25px;
        margin-right: 5px
    }

    .price-text--top {
        font-size: 21px;
        line-height: 21px
    }

    .price-x--top {
        font-size: 46px;
        line-height: 48px
    }

    .price-new--top {
        margin-top: 6px
    }

    .section1-right-wrap {
        padding-top: 18px
    }

    .submit-form {
        padding: 12px 0;
        font-size: 30px;
        line-height: 30px
    }

    .danger-wrap {
        background-size: 230px auto;
        padding-bottom: 230px
    }

    .symptoms_text {
        background-position: left 8px;
        line-height: 27px
    }

    .research {
        background-size: 230px auto
    }

    .research_block--1 .research_procent {
        padding-left: 1px
    }

    .research_block--2 .research_procent {
        padding-left: 1px;
        text-align: right
    }

    .research_procent {
        font-size: 22px;
        line-height: 24px;
        padding-bottom: 145px
    }

    .research_block--2 {
        padding-left: 14px
    }

    .expert {
        background-size: 220px auto;
        padding-bottom: 270px
    }

    .expert_name {
        font-size: 21px;
        line-height: 23px
    }

    .expert_about {
        font-size: 15px;
        line-height: 22px
    }

    .health_block img {
        max-width: 100%
    }

    .work_text {
        font-size: 19px;
        line-height: 18px
    }

    .block_work--1, .block_work--3 {
        background-size: 60px auto;
        padding-right: 60px
    }

    .block_work--2, .block_work--4 {
        background-size: 60px auto;
        padding-left: 60px
    }

    .footer {
        font-size: 14px;
        line-height: 18px
    }

    .input-form {
        padding: 0 10px 0 41px;
        font-size: 14px
    }
}

.footer {
    text-align: center
}

.submessage {
    color: #ccc;
    height: 50px;
    font-size: 16px
}

.header-logo img {
    max-width: 250px
}

*, html * {
    -webkit-filter: initial !important;
    filter: none !important
}